/* ------------------------------------------------------------------------------
    Template name
	Author: Matheus P. Silva
	Author URI: github.com/matheusps
	License: MIT
    Version: 1.0
-------------------------------------------------------------------------------- */
@import './styles/global';

//Vendor
@import "~bootstrap/scss/bootstrap";