/* ------------------------------------------------------------------------------
    React Tutorial Boilerplate
	Author: Matheus P. Silva
	Author URI: github.com/matheusps
	License: MIT
    Version: 1.0
-------------------------------------------------------------------------------- */

//Insert Global Styles
body {
	margin: 0px !important; 
	padding: 0px !important;
}

//Import Your Styles
@import '../node_modules//bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma//sass/base/_all.sass';